<div class="input-group  d-flex justify-content-center align-items-center">
  <form class="input-group " action="" 
    {% csrf_token %}
    <input name="update" type="text" class="form-control" 
      aria-describedby="button-addon2" value="{{task.title}}" required>
    <button class="btn btn-primary" type="submit" id="button-addon2"
      hx-post="{% url 'apply' task.id %}"
      hx-trigger="click"
      hx-target="#todo-container"
      hx-swap="outerHTML"
      >apply</button>
    <button class="btn btn-secondary" type="button" id="button-addon2" 
      hx-post="{% url 'cancel'%}" 
      hx-trigger="click"
      hx-target="#todo-container"
      hx-swap="outerHTML"
      >cancel</button>
  </form>
</div>

